<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Neel Kothari</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-responsive.css">
	<link rel="stylesheet" href="css/custom.css">

	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>


	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

</head>
<body>



	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->
	<div class="navbar-inner nav">
        

			<h1 class="pull-left">Neel Kothari</h1>



			<ul class="pull-right">
				<li><img id="projects_pic" src="img/projects.png"/><a href="projects.html">PROJECTS</a><li>
				<li><img id="blog_pic" src="img/blog.png"/><a href="blog.html">BLOG</a><li>
				<li><img id="guitar_pic" src="img/guitar.png"/><a href="music.html">MUSIC</a><li>
				<li><img id="about_pic" src="img/about.png"/><a href="about.html">ABOUT</a><li>
			<ul>
	</div><!-- navbar -->
	
	<div class="container-fluid main">
		
		<img src="http://qph.is.quoracdn.net/main-thumb-4279921-200-8wYXqxAzfQVTDuAbDFKjYpI9IpXbJlCl.jpeg" class="img-circle">
		<h3>I'm <a>Neel</a>, a software artisan who loves to create <a>web and mobile solutions</a> to simple problems.</h3>
		<h3>If I'm not <a>coding</a> on my computer you can find me with my guitar or in the gym.</h3>
		<h3><a>Read up</a> on my latest adventures (not really) or check out my <a>music</a>.</h3>
		
		
		
	</div><!-- container -->


<!-- End Document
================================================== -->
</body>
</html>