
{% extends "base.html" %}
            
 	{% block content %}

 	<div class="main">
			
		<img src="http://qph.is.quoracdn.net/main-thumb-4279921-200-8wYXqxAzfQVTDuAbDFKjYpI9IpXbJlCl.jpeg" class="img-circle" id="landing_pic">
		<h3>I'm <a>Neel</a>, a software artisan who loves to create <a>web and mobile solutions</a> to simple problems.</h3>
		<h3>If I'm not <a>coding</a> on my computer you can find me with my guitar or in the gym.</h3>
		<h3><a>Read up</a> on my latest adventures (not really) or check out my <a>music</a>.</h3>
		
		
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		
	
	</div> 

	{% endblock %}


