
{% extends "base.html" %}
            
 	{% block content %}

 	<div class="main">
			
		<img src="http://qph.is.quoracdn.net/main-thumb-4279921-200-8wYXqxAzfQVTDuAbDFKjYpI9IpXbJlCl.jpeg" class="img-circle" id="landing_pic">
		<h3>I'm <a href="/profile/">Neel</a>, a software developer who loves to create <a a href="/profile/">web and mobile solutions</a> to simple problems.</h3>
		<h3>If I'm not <a a href="/profile/">coding</a> on my MacBook Air you can find me with my guitar or in the gym.</h3>
		<h3><a a href="/blog/">Read up</a> on my latest adventures and projects or check out my <a a href="/music/">music</a>.</h3>
		
		<ul id="#icons">
                            <li><a href="http://www.facebook.com/mughaldanish"><i class="icon-facebook"></i></a></li>
                            <li><a href="http://www.twitter.com/danishamughal"><i class="icon-twitter"></i></a></li>
                            <li><a href="http://www.instagr.am/danishmughal"><i class="icon-camera-retro"></i></a></li>
                            <li><a href="http://www.github.com/danishmughal"><i class="icon-github-alt"></i></a></li>
                            <li><a href="http://www.linkedin.com/in/dmughal"><i class="icon-linkedin"></i></a></li>
                            <li><a href="mailto:mughal.danish@gmail.com"><i class="icon-envelope-alt"></i></a></li>
                            <li><a href="https://www.dropbox.com/s/akwyo7cf8afh9ae/DanishMughalResume.pdf"><i class="icon-file-alt"></i></a></li>
                        </ul>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		
	
	</div> 

	{% endblock %}


