
{% extends "base.html" %}
            o
 	{% block content %}

 	<div class="main">
			
		<img src="http://graph.facebook.com/1130444135/picture?type=large" class="img-circle" id="landing_pic">

		<h3>I'm <a href="/profile/">Neel</a>, a software developer who loves to create <a a href="/profile/">web and mobile solutions</a> to simple problems.</h3>
		
						<ul id="icons">
                            <li><a href="https://twitter.com/neelio13"><i class="icon-twitter"></i></a></li>
                            <li><a href="http://www.github.com/neelk07"><i class="icon-github-alt"></i></a></li>
                            <li><a href="http://www.linkedin.com/in/neelk07"><i class="icon-linkedin"></i></a></li>
                            <li><a href="mailto:neelk07@gmail.com"><i class="icon-envelope-alt"></i></a></li>
                            <li><a href="https://www.dropbox.com/s/lnrb557vx864kox/Resume_2014.pdf"><i class="icon-file-alt"></i></a></li>
                        </ul>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		
	
	</div> 

	{% endblock %}


